
<!DOCTYPE html>
<html xmlsn:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>

	<h1>LOGIN</h1>
	
	<form action="#" th:action="@{/user/login}" th:object="${loginRequest}" method="post">
	<div>
		<label>username</label> 
		<input th:field="*{username}" type="text"/>
	</div>
	
	<div>
		<label>password</label> 
		<input th:field="*{password}" type="password"/>
	</div>
	<div>
	<button type="submit">login</button>
	<button type="reset">reset</button>
	</div>
	<div>
		<a href="/">go to index</a>
	</div>
	</form>
	


</body>
</html>