
<!DOCTYPE html>
<html xmlsn:th="http:www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>login</title>
</head>
<body>

	<h1>Sign Up</h1>
	
	<form action="#" th:action="@{/}" th:object="${signupRequest}" method="post">
	<div>
		<label>username</label> 
		<input th:field="*{username}" type="text"/>
	</div>
	
	<div>
		<label>password</label> 
		<input th:field="*{password}" type="password"/>
	</div>
	<div>
	<button type="submit">login</button>
	<button type="reset">reset</button>
	</div>
	<div>
		<a href="/">go to index</a>
	</div>
	</form>
	

<!-- 
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/izitoast/js/iziToast.min.js}"></script>

<script>
    $('button[type="submit"]').click(function (event) {
        event.preventDefault();

        $.post("/email", {'email': $('#email').val()}, function () {
            iziToast.show({
                title: 'Success',
                message: 'Provided email address is valid',
                position: 'topRight',
                timeout: 500000,
                color: 'green'
            });

        }).fail(function () {
            iziToast.show({
                title: 'Fail',
                message: 'This is not a valid email address',
                position: 'topRight',
                color: 'red'
            });
        });
    });
</script>
 -->


</body>
</html>